body{
    background-color: #f0bfbf; 
}

.container{
    width: 50%;
    margin:  auto;
    padding: 10px;
    background: linear-gradient(to right, #91f1f0, #4deaff, #28aab5, #217d90);   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container h1{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.container input{
    display: block;
    width: 50%;
    padding: 5px;
    margin: 10px;
    color: #1a1717;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: bold;
}

.container button{
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    background-color: #131616;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

#result {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}